body {  font-family: Arial,Helvetica,sans-serif; }
h1 { margin: 0; }
h4 { margin-top: 0; color: #666; font-weight: normal; }
canvas { border: 1px solid #000; }

#container {
    display: flex;
    flex-direction: row;
}

#ui {
    margin-left: 20px;
    padding: 0 10px;
    background-color: #EEE;
    width: 200px;
    border: 1px solid #000;
}

.uiComponent {
    background-color: #DDD;
    margin: 10px 0;
    padding: 4px;
    display: block;
}

.uiComponent > label {
    width: 100%;
}

.uiComponent > input {
    box-sizing: border-box;
    width: 100%;
}

.uiComponent > button {
    width: 100%;
}